 <div class="row setup-content" id="step-1">
    <div class="col-xs-12">
      <div class="col-md-12">
        <h3> Step 1: Origin <button id="button-1", class="btn btn-default nextBtn btn-lg" type="button" >Next</button></h3>
        <%= render 'addresses/new_origin' %>
   </div>
 </div>
</div>
<div class="row setup-content" id="step-2">
  <div class="col-xs-12">
     <div class="col-md-12">
        <h3> Step 2: Destination <button id="button-2", class="btn btn-default nextBtn btn-lg" type="button" >Next</button></h3>
        <%= render 'addresses/new_destination' %>
    </div>
  </div>
</div>
<div class="row setup-content" id="step-3">
  <div class="col-xs-12">
      <h3> Step 3: Trip Info  <%= submit_tag (@submit_btn), id: "button-3", class: "btn btn-default nextBtn btn-lg" %></h3>
    <div class="col-md-12">
     <div class="col-md-4">
      <div class="form-group">
        <div class='input-group date'>
           <%= text_field_tag "trip[leaving_at]", @trip ? @trip.leaving_at : "", placeholder: "Leaving at", :id => 'datetimepicker1' %>
        </div>
      </div>
      <div class="form-group">
        <div class='input-group date'>
            <%= text_field_tag "trip[arriving_at]", @trip ? @trip.arriving_at : "", placeholder: "Arriving at", :id => 'datetimepicker2' %>
        </div>
       </div>
       <div class="form-group">
         <%= text_field_tag "trip[available_volume]", @trip ? @trip.available_volume : "", placeholder: "Free Space (sq ft)" %>
       </div>
       <div class="form-group">
          <%= text_field_tag "trip[max_weight]", @trip ? @trip.max_weight : "", placeholder: "Max Weight (lbs)" %>
       </div>
       <div class="form-group">
         <%= text_field_tag "trip[rate]", @trip ? @trip.rate : "", placeholder: "Rate (per sq ft)" %>
       </div>
       <div class="form-group">
          <%= text_field_tag "trip[vehicle]", @trip ? @trip.vehicle : "", placeholder: "Vehicle" %>
       </div>
     </div>
     <div class="form-group col-md-8 pull-right">
       <%= text_area_tag "trip[content_restrictions]", @trip ? @trip.content_restrictions : "", size: "50x10", placeholder: "Content Restrictions" %>
      </div>
    </div>
  </div>
</div>


