<h2> Trip: <%= trip.id %> </h2>
<p> Trip Details <p>
Leaving From: <%= trip.origin_address.city %>,
<% trip.origin_address.state %> <br>
Going To: <%= trip.destination_address.city %>,
<% trip.destination_address.state %> <br>
Leaving At: <%= trip.leaving_at %> <br>
Arriving At: <%= trip.arriving_at %> <br>
Available Volume: <%= trip.available_volume %> cubic ft.<br>
Max Weight: <%= trip.max_weight %> lbs.<br>
Rate: $<%= trip.rate %> / cubic ft. <br>
Restrictions: <%= trip.content_restrictions %> <br>
My Vehicle: <%= trip.vehicle %>
<%= button_to 'Edit', edit_trip_path(trip.id), method: :get %>


