<h2> Trip: <%= trip.id %> </h2>
<p> Trip Details <p>
Leaving From: <%= trip.origin_address.city %> <br>
Going To: <%= trip.destination_address.city %> <br>
Leaving At: <%= trip.leaving_at %> <br>
Arriving At: <%= trip.arriving_at %> <br>
Available Volume: <%= trip.available_volume %> <br>
Max Weight: <%= trip.max_weight %> <br>
Rate: <%= trip.rate %> <br>
Restrictions: <%= trip.content_restrictions %> <br>
My Vehicle: <%= trip.vehicle %>


