<div class="row">
    <div class="col-md-1">
      <%= button_to "Details", trip_path(trip), class: "btn btn-primary nextBtn btn-xs trip_details", method: :get %>
    </div>
    <div class="col-md-1">
      <%= button_to "Edit", edit_trip_path(trip), class: "btn btn-info nextBtn btn-xs" %>
    </div>
    <div class="col-md-1">
      <%= button_to "Delete", trip_path(trip), class: "btn btn-info nextBtn btn-xs", method: :delete %>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-2">
      <% if parcels.count > 0 %>
        <%= link_to parcels.count, trip_parcels_path(trip) %>
      <% else %>
        <p>0</p>
      <% end %>
    </div>
  <div class="col-md-3"><%= trip.destination_address.city %></div>
  <div class="col-md-3"><%= format_date(trip.arriving_at) %></div>
</div>

