<h2>Create New Trip</h2>

<% if flash[:error] %>
  <h3 style="color: red;"><%= flash[:error] %></h3>
<% end %>

<%= form_tag trips_path do |f|  %>
  <%= hidden_field_tag "origin_address[user_id]", 1 %>
  <%= hidden_field_tag "destination_address[user_id]", 1 %>
  <%= hidden_field_tag "trip[driver_id]", 1 %>
  <p>
    <%= label_tag "Origin Street Address" %>
    <%= text_field_tag "origin_address[street_address]", "540 11th ST" %>
  </p>
  <p>
    <%= label_tag "Secondary Address" %>
    <%= text_field_tag "origin_address[secondary_address]", "Apt 3R" %>
  </p>
  <p>
    <%= label_tag "City" %>
    <%= text_field_tag "origin_address[city]", "New York" %>
  </p>
  <p>
    <%= label_tag "State" %>
    <%= text_field_tag "origin_address[state]", "NY" %>
  </p>
  <p>
    <%= label_tag "Zip Code" %>
    <%= text_field_tag "origin_address[zip_code]", "11215" %>
  </p>
  <p>
    <%= label_tag "Destination Street Address" %>
    <%= text_field_tag "destination_address[street_address]", "1600 Pennsylvania Ave Northwest" %>
  </p>
  <p>
    <%= label_tag "Secondary Address" %>
    <%= text_field_tag "destination_address[secondary_address]" %>
  </p>
  <p>
    <%= label_tag "City" %>
    <%= text_field_tag "destination_address[city]", "Washington" %>
  </p>
  <p>
    <%= label_tag "State" %>
    <%= text_field_tag "destination_address[state]", "DC" %>
  </p>
  <p>
    <%= label_tag "Zip Code" %>
    <%= text_field_tag "destination_address[zip_code]", "20500" %>
  </p>
  <p>
    <%= label_tag "Leaving at" %>
    <%= text_field_tag "trip[leaving_at]", "07-05-2015" %>
  </p>
  <p>
    <%= label_tag "Arriving at" %>
    <%= text_field_tag "trip[arriving_at]", "17-05-2015" %>
  </p>
  <p>
    <%= label_tag "Volume Available" %>
    <%= text_field_tag "trip[available_volume]", "200" %>
  </p>
  <p>
    <%= label_tag "Max Weight" %>
    <%= text_field_tag "trip[max_weight]", "50" %>
  </p>
  <p>
    <%= label_tag "Rate" %>
    <%= text_field_tag "trip[rate]", "10.00" %>
  </p>
  <p>
    <%= label_tag "Content Restrictions" %>
    <%= text_area_tag "trip[content_restrictions]", "No explosive or flammable materials please", size: "50x10" %>
  </p>
  <p>
    <%= label_tag "Vehicle" %>
    <%= text_field_tag "trip[vehicle]", "Honda Accord" %>
  </p>
  <%= submit_tag "Create Trip" %>
<% end %>