
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 sticky">
      <form class="form-horizontal test" action="<%= trips_search_path %>">

          <legend>Your Parcel</legend>
          <div class="form-group">
            <div class="col-md-8">
              <% if @parcel_id %>
                <%= text_field_tag 'origin_address[address_string]', nil, class: "form-control input-md", placeholder: @origin_address_string %>
              <% else %>
                <%= text_field_tag 'origin_address[address_string]', @origin_address_string, placeholder: "Search Address", class: "form-control input-md" %>
              <% end %>
              <%= hidden_field_tag "origin_address[latitude]", @origin_latitude, class: "form-control input-md" %>
              <%= hidden_field_tag "origin_address[longitude]", @origin_longitude, class: "form-control input-md" %>
            </div>
          </div>

        <div class="form-group">
          <div class="col-md-8">
            <% if @parcel_id %>
              <%= text_field_tag 'destination_address[address_string]', nil, placeholder: @destination_address_string, class: "form-control input-md" %>
            <% else %>
              <%= text_field_tag 'destination_address[address_string]', @destination_address_string, placeholder: "Search Address", class: "form-control input-md" %>
            <% end %>
            <%= hidden_field_tag "destination_address[latitude]", @destination_latitude, class: "form-control input-md" %>
            <%= hidden_field_tag "destination_address[longitude]", @destination_longitude, class: "form-control input-md" %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-8">
            <% if @parcel_id %>
              <%= text_field_tag "parcel[pickup_by]", nil, class: "form-control input-md", placeholder: @pickup_by %>
            <% else %>
              <%= text_field_tag "parcel[pickup_by]", @pickup_by, class: "form-control input-md", :id => "datetimepicker1" %>
            <% end %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-8">
            <% if @parcel_id %>
              <%= text_field_tag "parcel[deliver_by]", nil, class: "form-control input-md", placeholder: @deliver_by %>
            <% else %>
              <%= text_field_tag "parcel[deliver_by]", @deliver_by, class: "form-control input-md", :id => "datetimepicker2" %>
            <% end %>
          </div>
        </div>
        <div class="form-group">
          <label id="weight">Weight: <span id="grab"></span></label>
          <div class="col-md-8">
            <% if @parcel_id %>
              <%= text_field_tag "parcel[weight]", nil, class: "form-control input-md", placeholder: @weight %>
            <% else %>
              <%= range_field_tag "parcel[weight]", @weight, class: "form-control input-md", :placeholder => "Weight (Lbs)", min: 1, max: 300 %>
            <% end %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-8">
            <% if  %>
              <%= text_field_tag "parcel[volume]", nil, class: "form-control input-md", placeholder: @volume %>
            <% else %>
            <%= range_field_tag "parcel[volume]", @volume, class: "form-control input-md", :placeholder => "Volume (Sq Ft)", min: 1, max: 300 %>
            <% end %>
          </div>
        </div>
        <%= button_to "Find Matching Trips", "", class: "btn btn-primary" %>
      </fieldset>
    </form>
  </div>
  <div class="col-md-9 stick_right">
      <h4>Matching Trips</h4>
        <% @trips.each do |trip| %>
            <div class="col-sm-4 custom-marg">
          <div class="dl">
            <div class="brand">
                <h2>
                    <%= link_to "Trip ID ##{trip.id}", trip_path(trip) %>
                    <%= link_to trip.driver.username, profile_path(trip.driver) %>
                </h2>
            </div>
            <div class="discount alizarin">
                <p>Rate: <%= number_to_currency(trip.rate) %><p>
                  <p>Volume: <%= trip.available_volume %></p>
                  <p>Max Weight: <%= trip.max_weight %></p>
                <div class="type">
                </div>
            </div>
            <div class="descr">
                <p>From: <%= trip.origin_address.city_state %> <br> To: <%= trip.destination_address.city_state %></p>
            </div>
            <div class="ends">
                <small>
                    Leaving: <%= trip.leaving_at.strftime('%b %d, %Y') %>
                    Arriving: <%= trip.arriving_at.strftime('%b %d, %Y') %>
                </small>
            </div>
            <div class="coupon midnight-blue">
              <% if @parcel_id %>
              <p><%= link_to "Book", book_parcel_trip_path(@parcel_id, trip.id), class: "btn btn-primary" %></p>
            <% else %>
              <p><%= link_to "Book", new_parcel_path(trip_id: trip.id), class: "btn btn-primary" %></p>
            <% end %>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
</div>

<script>
$(function () {
  $('#parcel_weight').change(function(){
    var weightValue = $('#parcel_weight').val();
    $('#grab').html(weightValue);
  })
});
</script>