<div class="parcel_show">
  <h4 > Trip: <%= @trip.id %> </h4>
  <p> @trip Details <p>
  <ul class ="@trip details">
  <li>Leaving From: <%= @trip.origin_address.city %></li>
  <li>Leaving At: <%= format_date(@trip.leaving_at) %></li>
  <li>Going To: <%= @trip.destination_address.city %></li>
  <li>Arriving At: <%= format_date(@trip.arriving_at) %></li>
  <li>Available Volume: <%= @trip.available_volume %> cubic ft.</li>
  <li>Max Weight: <%= @trip.max_weight %> lbs.</li>
  <li>Rate: <%= @trip.rate %> / cubic ft.</li>
  <li>Restrictions: <%= @trip.content_restrictions %></li>
  <li>Vehicle: <%= @trip.vehicle %></li>
  </ul>
  <%= button_to 'Edit', edit_trip_path(@trip.id), class: "btn btn-primary nextBtn btn-sm", method: :get %>
</div>
