
<div class="container-fluid inbox">
  <div class="row">
    <div class="col-md-12"><h2>Inbox (<%= @num_messages %>)</h2></div>
  </div>
  <div class="row">
    <div class="col-md-3"><h4>Sender</h4></div>
    <div class="col-md-6"><h4>Subject</h4></div>
    <div class="col-md-3"><h4>Sent</h4></div>
  </div>
  <div class="row"><div class="col-md-12"><hr></div></div>
<% @conversations.each do |conversation| %>
  <%# what's this.....why are you doing this?  If you're only ever going to show one, why not send @conversation as set from controller %>
  <% message = conversation.messages.first %>
  <div class="row">
    <div class="col-md-3"><%= link_to message.sender.username, user_path(message.sender.id) %></div>
    <div class="col-md-6"><%= link_to message.subject, "#", data: { id: message.id } %></div>
    <div class="col-md-3"><%= message.created_at %></div>
  </div>
  <div class="row msgbody" id="msgbody<%= message.id %>">
    <div class="col-md-3">&nbsp;</div>
    <div class="col-md-9"><%= message.body %></div>
  </div>
<% end %>
</div>
