<% if flash[:error] %>
<h3 style="color: red;"><%= flash[:error] %></h3>
<% end %>
<div class="container">
  <div class="stepwizard">
    <div class="stepwizard-row setup-panel">
      <div class="stepwizard-step">
        <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
      </div>
      <div class="stepwizard-step">
        <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
      </div>
      <div class="stepwizard-step">
        <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
      </div>
    </div>
  </div>
  <%= form_tag @url, method: @method do %>
  <div class="row setup-content" id="step-1">
    <div class="col-xs-12">
      <div class="col-md-12">
        <h3> Step 1 <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Next</button></h3>
        <div class="form-group">
          <%# label_tag 'Origin Street Address' %>
          <%= text_field_tag 'origin_address[street_address]', @origin_address ? @origin_address.street_address : "", placeholder: "Origin Street Address" %>
        </div>
        <div class="form-group">
         <%# label_tag 'Origin Secondary Address' %>
         <%= text_field_tag 'origin_address[secondary_address]', @origin_address ? @origin_address.secondary_address : "", placeholder: "", placeholder: "Origin Secondary Address" %>
       </div>
       <div class="form-group">
        <%# label_tag 'Location Description' %>
        <%= text_field_tag 'origin_address[description]', @origin_address ? @origin_address.description : "", placeholder: "Location Description" %>
      </div>
      <div class="form-group">
        <%# label_tag 'Origin City' %>
        <%= text_field_tag 'origin_address[city]', @origin_address ? @origin_address.city : "", placeholder: "Origin City" %>
      </div>
      <div class="form-group">
        <%# label_tag 'Origin State' %>
        <%= text_field_tag 'origin_address[state]', @origin_address ? @origin_address.state : "", placeholder: "Origin State" %>
      </div>
      <div class="form-group">
       <%# label_tag "Zip Code" %>
       <%= text_field_tag "origin_address[zip_code]", @origin_address ? @origin_address.zip_code : "", placeholder: "Zip Code" %>
       <%= hidden_field_tag 'origin_address[user_id]', current_user.id %>
     </div>
   </div>
 </div>         

</div>
<div class="row setup-content" id="step-2">

  <div class="col-xs-12">
    <div class="col-md-12">
      <h3> Step 2       <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Next</button></h3>
      <div class="form-group">
        <%= label_tag 'Destination Street Address' %>
        <%= text_field_tag 'destination_address[street_address]', @destination_address ? @destination_address.street_address : "" %>
      </div>
      <div class="form-group">
        <%= label_tag 'Destination Secondary Address' %>
        <%= text_field_tag 'destination_address[secondary_address]', @destination_address ? @destination_address.secondary_address : "" %>
     </div>
     <div class="form-group">
       <%= label_tag 'Destination City' %>
       <%= text_field_tag 'destination_address[city]', @destination_address ? @destination_address.city : "" %>
    </div>
    <div class="form-group">
      <%= label_tag 'Destination State' %>
      <%= text_field_tag 'destination_address[state]', @destination_address ? @destination_address.state : "" %>
    </div>
    <div class="form-group">
      <%= label_tag 'Destination Zip Code' %>
      <%= text_field_tag 'destination_address[zip_code]', @destination_address ? @destination_address.zip_code : "" %>
    </div>
  </div>
</div>
</div>
<div class="row setup-content" id="step-3">

  <div class="col-xs-12">
    <div class="col-md-12">
      <h3> Step 3 <%= submit_tag (@submit_btn), class: "btn btn-primary nextBtn btn-lg pull-right"%></h3>
      <div class="form-group">
       <%= hidden_field_tag 'parcel[sender_id]', current_user.id %>
       <%= hidden_field_tag 'parcel[delivered]', false %>
       <%= label_tag 'Parcel Description' %>
       <%= text_field_tag 'parcel[description]', @parcel ? @parcel.description : "" %>
     </div>
     <div class="form-group">
        <%= label_tag 'Pickup By' %>
        <div class='input-group date' id='datetimepicker1'>
           <%= text_field_tag 'parcel[pickup_by]', @parcel ? @parcel.pickup_by : "" %>
              <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
    </div>
    <div class="form-group">
      <%= label_tag 'Delivery By' %>
       <div class='input-group date' id='datetimepicker2'>
            <%= text_field_tag 'parcel[deliver_by]', @parcel ? @parcel.deliver_by: "" %>
              <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
    </div>
    <div class="form-group">
      <%= label_tag 'Volume' %>
      <%= text_field_tag 'parcel[volume]', @parcel ? @parcel.volume : "" %>
    </div>
    <div class="form-group">
     <%= label_tag 'Weight' %>
     <%= text_field_tag 'parcel[weight]', @parcel ? @parcel.weight : "" %>
   </div>
   <div class="form-group">
     <%= label_tag 'Delivery Notes' %>
     <%= text_field_tag 'parcel[delivery_notes]', @parcel ? @parcel.delivery_notes : "" %> <br>
  </div>
  <% end %>
</div>
</div>
</div>
</div>

<script type="text/javascript">
  $(function () {
    $('#datetimepicker1').datetimepicker();
  });
</script>
<script type="text/javascript">
  $(function () {
    $('#datetimepicker2').datetimepicker();
  });
</script>