<h2>Parcel ID#<%= parcel.id %>: <%= parcel.description %></h2>
<p> Parcel Details</p>
Pickup From: <%= parcel.origin_address.street_address %> <br>
Drop Off: <%= parcel.destination_address.street_address %> <br>
Pickup By: <%= parcel.pickup_by %> <br>
Deliver By: <%= parcel.deliver_by %> <br>
Volume: <%= parcel.volume %> <br>
Weight: <%= parcel.weight %> <br>
Delivery Notes: <%= parcel.delivery_notes %> <br>
<% if parcel.delivered == false %>
Delivery Status: Pending
<% else %>
Delivery Status: Delivered!
<% end %>
