<div class="row">
  <% if @reviewer %>
    <div class="col-md-4">
      <%= link_to "Review", new_parcel_review_path(parcel) %>
    </div class="col-md-4">
  <% else %>
    <div class="col-md-1"><%= button_to 'details', parcel_path(parcel), method: 'get'%></div>
    <% if parcel.trip_id == nil %>
    <div class="col-md-1"><%= button_to 'match', parcel_trips_path(parcel), method: :get %></div>
    <% elsif parcel.delivered == false %>
    <div class="col-md-1">Pending Delivery</div>
    <% else %>
    <div class="col-md-1">Delivered!</div>
    <% end %>
  <% end %>
  <div class="col-md-4"><%= parcel.description %></div>
  <div class="col-md-3"><%= parcel.destination_address.city %></div>
  <div class="col-md-3">
    <%= parcel.deliver_by %> <br>
  </div>
</div>
<div class="row">
  <div class="col-md-1"><%= button_to 'Edit', edit_parcel_path(parcel.id), method: 'get' %></div>
  <div class="col-md-1"> <%= button_to 'Delete', parcel_path(parcel.id), method: 'delete' %></div>
  <div class="col-md-1">
  <% if trip %>
   <%= link_to "Review #{trip.driver.username} as Driver", new_trip_review_path(trip.id) %>
  <% end %>
   </div>
</div>