<div class="row">
  <% if @reviewer %>
    <div class="col-md-4">
      <%= link_to "Review", new_parcel_review_path(parcel) %>
    </div class="col-md-4">
  <% else %>
    <div class="col-md-1"><%= button_to 'details', parcel_path(parcel), method: 'get'%></div>
    <div class="col-md-1"><%= button_to 'match', parcel_trips_path(parcel), method: :get %></div>
    <div class="col-md-1"><%= button_to 'Edit', edit_parcel_path(parcel.id), method: 'get' %></div>
    <div class="col-md-1"> <%= button_to 'Delete', parcel_path(parcel.id), method: 'delete' %></div>
  <% end %>
  <div class="col-md-3"><%= parcel.description %></div>
  <div class="col-md-3"><%= parcel.destination_address.city %></div>
  <div class="col-md-3">
    <%= parcel.deliver_by %> <br>
  </div>
</div>