<%= render partial: 'application/flash' %>

<div class="row">
  <div class="col-md-1"><%= button_to 'details', parcel_path(parcel), class: "btn btn-primary nextBtn btn-sm", method: 'get'%></div>
  <% if parcel.trip_id == nil %>
    <div class="col-md-1"><%= button_to 'match', parcel_trips_path(parcel), method: :get %></div>
  <% elsif parcel.delivered == false %>
    <div class="col-md-1">Pending Delivery
      <%= button_to "Message Driver", compose_path, params: { sender: current_user.id, receiver: parcel.trip.driver.id, subject: "Parcel ##{parcel.id} on Trip ##{parcel.trip.id}" }  %>
    </div>
  <% else %>
    <div class="col-md-1">Delivered!</div>
    <div class="col-md-2">
        <%= link_to "Review #{parcel.trip.driver.username} as Driver", new_trip_review_path(parcel.trip.id) %>
    </div>
  <% end %>
  <div class="col-md-4"><%= parcel.description %></div>
  <div class="col-md-3"><%= parcel.destination_address.city %></div>
  <div class="col-md-3">
    <%= parcel.deliver_by.strftime('%b %d, %Y') %> <br>
  </div>
</div>

<%if !@reviewer && !parcel.delivered%>
  <div class="row">
    <div class="col-md-1"><%= button_to 'Edit', edit_parcel_path(parcel.id), class: "btn btn-primary nextBtn btn-sm", method: 'get' %></div>
    <div class="col-md-1"> <%= button_to 'Delete', parcel_path(parcel.id), class: "btn btn-primary nextBtn btn-sm", method: 'delete' %></div>
  </div>
<% end %>