<div class="parcel_delivery">
  <h4>Parcels to Deliver for <%= link_to "Trip##{@trip.id}", trip_path(@trip) %></h4>

  <ol class ="deliveries">
  <% @parcels.each do |parcel| %>
    <li>
      <%= render partial: "summary", locals: {parcel: parcel, history: false} %>
      <% if parcel.delivered == false %>
        <%= form_tag parcel_path(parcel), method: :put do %>
            <%= hidden_field_tag 'origin_address[user_id]', parcel.origin_address.user_id %>
            <%= hidden_field_tag 'destination_address[user_id]', parcel.destination_address.user_id %>
            <%= hidden_field_tag 'parcel[sender_id', parcel.sender_id %>
            <%= hidden_field_tag 'parcel[delivered]', true %>
            <%= submit_tag "Parcel Delivered" ,class: "btn btn-default" %>
          <% end %>
      <% end %>
    </li>
  <% end %>
  </ol>
</div>


