<div class="parcel_show @parcel details">
  <h5>Parcel #<%= @parcel.id %>: <%= @parcel.description %></h5>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Pick Up</h3>
    </div>
    <div class="panel-body">
     <div class="col-md-5">
      <%= @parcel.origin_address.street_address %><br>
      <%= @parcel.origin_address.city %>, <%= @parcel.origin_address.state %>
    </div>
    <div class="col-md-5">
      <%= format_date(@parcel.pickup_by) %>
    </div>
  </div>
    <div class="panel-heading">
      <h3 class="panel-title">Drop Off</h3>
    </div>
    <div class="panel-body">
      <div class="col-md-5">
       <%= @parcel.destination_address.street_address %><br>
       <%= @parcel.destination_address.city %>, <%= @parcel.destination_address.state %>
      </div>
      <div class="col-md-5">
        <%= format_date(@parcel.deliver_by) %>
      </div>
    </div>
    <div class="panel-heading">
      <h3 class="panel-title">Stats</h3>
    </div>
    <div class="panel-body">
      <%= @parcel.volume %> cubic ft. <br>
      <%= @parcel.weight %> lbs
    </div>
    <div class="panel-heading">
      <h3 class="panel-title">Delivery Notes</h3>
    </div>
    <div class="panel-body">
      <%= @parcel.delivery_notes %><br><br>
      <%= render partial: 'delivery_status', locals: {parcel: @parcel} %>
    </div>
  </div>
</div>
