<div class="container">
	<div class="row">
<%= form_for :user, url: signin_path do |f| %>
  Name: <%= f.text_field :username, id: "username-field" %>
  Password: <%= f.password_field :password, id: "password-field" %>
  <%= f.submit 'login' %>
	<br>
	<br>
	<p>Don't have an account? <%= link_to 'Sign Up', new_user_path %></p>
<% end %>
</div>
</div>