<div id="history_show">
  <h4><%= @user.username.capitalize %>'s Caravan History</h4>
  <h5>Your Past Trips</h5>
      <div class="col-md-3">Destination</div>
      <div class="col-md-2">Deliveries</div>
      <div class="col-md-3">Update</div>
      <div class="col-md-2">Departing</div>
      <div class="col-md-2">Arriving</div>
  <% @trips.each do |trip| %>
    <%= render partial: '/trips/summary', locals: {trip:trip, history: true} %>
    <% trip.parcels.each do |parcel| %>
     <%= link_to "Review #{parcel.sender.username}", new_parcel_review_path(parcel.id), class: "btn btn-primary nextBtn btn-sm" %>
    <% end %>
  <%end %>
  <h5>Your Past Parcels</h5>
  <div class="row">
    <div class="col-md-3">Description</div>
    <div class="col-md-2">Update</div>
    <div class="col-md-3">Destination </div>
    <div class="col-md-3">Delivery</div>
  </div>
  <% @parcels.each do |parcel| %>
    <%= render partial: '/parcels/summary', locals: {parcel:parcel, history: true} %>
      <div class="col-md-2">
        <%= link_to "Review #{parcel.trip.driver.username} as Driver", new_trip_review_path(parcel.trip.id),class: "btn btn-primary nextBtn btn-xs" %>
      </div>
  <% end %>
</div>